<div class="container">
    <h1>Resultados del CoronaVirus</h1>
    <a routerLink="/countries">
    <button type="button" class="btn btn-info" (click)="allInformacion()">Países</button>
    </a>
    <a routerLink="/global">
    <button type="button" class="btn btn-info" (click)="allGlobal()">Global</button>
    </a>
    <app-informacion *ngIf="forInformacion"[listCountries]="countries"></app-informacion>
    <app-global *ngIf="forGlobal"[listGlobal]="global"[listSpain]="spain"></app-global>
    
</div>


<!--<router-outlet></router-outlet>-->